// 主标题
$font-size-extra-large = 20px
// 标题
$font-size-large = 18px
// 小标题
$font-size-medium = 16px
// 正文
$font-size-base = 14px
// 正文（小）
$font-size-small = 13px
// 辅助文字
$font-size-extra-small = 12px
// 无行高
$line-height-none = 1
// 紧凑
$line-height-compact = 1.3
// 常规
$line-height-common = 1.5
// 宽松
$line-height-loose = 1.7